.verticalLine {
    border-left: 2px solid #A0B0C0;
}
.button-container {
    display: flex;
    align-items: center;
    gap: 8px; /* Space between icon and label */
    border: 1px solid #d8dde6;
    padding: 5px 10px;
    border-radius: 5px;
}

.arrow-icon {
    margin-right: 4px;
}

.button-label {
    font-size: 14px;
    font-weight: bold;
}
.button-label {
    font-size: 12px;
    font-weight: bold;
}
.slds-card {
    box-shadow: var(--sds-c-card-shadow, 0 2px 2px rgba(0, 0, 0, 0.1));
    border-radius: var(--sds-c-card-radius, 0.25rem);
}

/* Light background color for the container */
.container {
    background-color: #f3f3f3e9; /* Light gray background */
    padding: 20px;
    border-radius: 8px;
}
.slds-text-color_error {
    color: red;
    font-weight: bold;
}


